//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');
@import "node_modules/bootstrap-icons/font/bootstrap-icons.css";

$border-radius:              8px;
$card-border-radius:         12px;
$font-family-sans-serif:       'Raleway', sans-serif;
$font-family-monospace:         'Raleway', sans-serif;
$dark: #1b2a4e;
$secondary: #f1f4f8;
$success: #eaeffd;
$danger:#fafcfe;
$input-padding-x: 16px;
$input-padding-y: 8px;
$btn-padding-x: 16px;
$btn-padding-y: 8px;
$badge-padding-y:                   8px;
$badge-padding-x:                   8px;
$badge-border-radius:               4px;
$navbar-toggler-focus-width:        0;
$navbar-dark-toggler-border-color: transparent;
$navbar-light-toggler-border-color: transparent;
$navbar-toggler-padding-x:         0;
$progress-height:                   0.7rem;



//$badge-font-weight:                 400;

@import "../node_modules/bootstrap/scss/bootstrap";

html{
  scroll-behavior: smooth;
}
//menu-icon animation
.menu-item{
  width: 30px;
  height: 3px;
  background-color: var(--bs-primary);
  border-radius: 20px;
  transition: 0.5s;
}

.menu-item::after, .menu-item::before{
  content: '';
  width: 30px;
  height: 3px;
  background-color: var(--bs-primary);
  border-radius: 20px;
  position: absolute;
  transition: 0.5s;
  display: block;
}

.menu-item::before{
  transform: translateY(-10px);
}

.menu-item::after{
  transform: translateY(10px);
}


.menu-ani .menu-item{
  background-color: transparent;
  transition: 0.5s;
  transform: translateX(-20px);
}

.menu-ani .menu-item::before{
  transform: rotate(45deg) translate(11px, -14px);
}

.menu-ani .menu-item::after{
  transform: rotate(-45deg) translate(14px, 11px);
}

//menu-icon animation

.pd-l{
  padding: 0 90px !important;
}

// header scroll animation
#header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  transition: 0.5s;
  background-color: var(--bs-white);
}


.scroll-down{
  transform: translate3d(0, -100% ,0) !important;
}

.scroll-up{
  box-shadow: 0 0.125rem 0.25rem rgb(0, 0, 0, 0.08) !important;
}

.floating{
  transition: 0.5s;
  animation: float 1s ease-in-out infinite alternate;
}
@keyframes float {
  from{
    transform: translate3d(0px, -6px, 0px);;
  }
  to{
    transform: translate3d(0px, 6px, 0px);;
  }
}



//icon in header
.link-icon{
  transition: 0.3s;
}
.link-icon:hover{
  transform: translateY(-3px);
}
.nav-icon{
  font-size: 18px;
  transition: 0.3s;
}
.nav-icon:hover{
  color: var(--bs-primary) !important;
}
//icon header end

//animate text start
//.fade-text-box{
//  height: 80px;
//}
//.animated-item {
//  //color: #ffc200;
//}
//
//.animated-item {
//  display: block;
//  opacity: 0;
//  overflow: hidden;
//  position: absolute;
//  top: 0;
//  right: 0;
//  left: 0;
//  animation: BottomTotop 6s linear infinite 0s;
//}
//.animated-item:nth-child(2n+2) {
//  animation-delay: 2s;
//}
//.animated-item:nth-child(3n+3) {
//  animation-delay: 4s;
//}
//
//@keyframes BottomTotop {
//  0% {
//    opacity: 0;
//  }
//  5% {
//    opacity: 0;
//    transform: translateY(5px);
//  }
//  10% {
//    opacity: 1;
//    transform: translateY(0px);
//  }
//  25% {
//    opacity: 1;
//    transform: translateY(0px);
//  }
//  30% {
//    opacity: 0;
//    transform: translateY(5px);
//  }
//  80% {
//    opacity: 0;
//  }
//  100% {
//    opacity: 0;
//  }
//}
//animate text end

//navbar
.nav-link{
  transition: 0.3s;
  position: relative;
  padding: 0.5rem 1rem !important;

}
.nav-link::after{
  content: "";
  width: 70%;
  height: 2px;
  border-radius: $border-radius;
  background-color: var(--bs-primary);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin:0 auto;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s;
}
.nav-link:hover::after{
  opacity: 1;
  transform: scale(1);
}

.active-nav{
  color: var(--bs-primary) !important;
  transition: 0.3s;
  position: relative;
}
.active-nav::after{
  content: "";
  width: 70%;
  height: 2px;
  border-radius: $border-radius;
  background-color: var(--bs-primary);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin:0 auto;
  transition: 0.5s;
  opacity: 1;
  transform: scale(1);
}

//home section
.up-header{
  // font-size: 1.51rem;
  font-size: 20px;
  font-weight: 400;
}

.secondary-header{
  // font-size: 2.43rem;
  font-size: 30px;
  font-weight: 500;
}

.s-header{
  font-size: 1rem;
  font-weight: 400;
}

//about section

.card{
  border: none !important;
  transition: 0.5s;
}
.card:hover{
  transform: translateY(-3px);
}

// .under-line-box{
//   width: 120px;
//   display: flex;
//   align-content: center;
//   justify-content: center;
//   position: relative;
//   left: 0;
// }
// .under-line-circle{
//   width: 15px;
//   height: 15px;
//   border-radius: 50%;
//   background-color: #30363d;
//   transition: 0.5s;
//   opacity: 1;
//   transform: scale(1);
//   z-index: 1;

// }
// .under-line-line{
//   content: "";
//   width: 100%;
//   height: 2px;
//   border-radius: $border-radius;
//   background-color: #30363d;
//   transition: 0.5s;
//   position: absolute;
//   top: 6px;
//   opacity: 1;
//   transform: scale(1);
// }

//portfolios section
.nav-pills .nav-link{
  color: var(--bs-dark) !important;
}
.nav-pills .nav-link.active{
  color: var(--bs-white) !important;
}
.portfolio-card-main{
  //height: 700px;
}
.img-main-portfolio{
  height: 430px;
  object-fit: cover;
  object-position: top;
}
.img-portfolio-half{
  height: 282px;
  object-fit: cover;
  object-position: top;
}

//recent projects
.recent-img{
  height: 600px;
  width: 500px;
  object-fit: cover;
  object-position: top;
}

//contact section
label{
  color: var(--bs-white) !important;
}
input, textarea{
  color: var(--bs-white) !important;
  border: none !important;
  background-color: rgba(82, 82, 108, 0.49) !important;
}

@media screen and (max-width: 992px) {
  .pd-l{
    padding: 0 12px !important;
  }
  .navbar-nav{
    margin: 1rem 0 !important;
  }
  .nav-link{
    background-color: var(--bs-secondary);
    border-radius: 8px;
    padding: 1rem;
    margin: 4px 0;
    overflow: hidden;
  }
  .nav-link::after, .active-nav::after{
    width: 100%;
  }
  .custom-text{
    width: 100% !important;
  }
  
  .carousel-icon{
    padding: 3px;
    background-color: var(--bs-primary);
    border-radius: 8px;
  }

}
